torch==2.7.0
aioboto3==12.4.0
beartype==0.18.5
boto3==1.34.69
datasets==2.17.1
dill==0.3.8
einops==0.7.0
numpy==1.26.4
gluonts[torch]==0.16.2
jaxtyping==0.2.29
mypy==1.11.1
pandas==2.2.3
pytest==8.3.5
pytest-env==1.1.5
rotary-embedding-torch==0.8.6
scikit-learn==1.5.0
types-tabulate==0.9.0.20241207
transformers==4.52.1
tqdm==4.66.3
beartype==0.18.5
mypy==1.11.1
pyyaml==6.0.2
types-PyYAML==6.0.12.20240917
black==24.10.0
isort==5.13.2
PyYAML==6.0.2
jupyter==1.1.1
matplotlib==3.9.2
tabulate==0.9.0
lightning==2.3.3
rich>=10.2.2
tensorboard==2.20.0
